mat-card {
  max-width: 300px;
  margin: 10px;
  text-align: center;
  border: 1px solid lightgray;
}
mat-card img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.mat-card-header {
  display: block;
}

.buttons-panel {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
