<mat-toolbar class="floating-toolbar">
  <span *ngIf="currentView == 'recipes'">Select meals</span>
  <span *ngIf="currentView == 'shopping-list'">Shopping list</span>
  <span class="toolbar-spacer"></span>
  <button
    *ngIf="currentView == 'recipes'"
    mat-icon-button
    (click)="onCartClick()"
  >
    <mat-icon matBadge="{{ recipesSum }}" matBadgeColor="warn"
      >shopping_cart
    </mat-icon>
  </button>
  <button
    *ngIf="currentView == 'shopping-list'"
    mat-icon-button
    (click)="onMealClick()"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<div class="main-view">
  <recipes *ngIf="currentView == 'recipes'"> </recipes>
  <shopping *ngIf="currentView == 'shopping-list'"> </shopping>
</div>
