<mat-list>
    <div mat-subheader>Meals</div>
    <mat-list-item *ngFor="let recipe of selectedRecipies">
        <mat-icon mat-list-icon>restaurant</mat-icon>
        <div>{{recipe.title}}</div>
        <button mat-flat-button (click)="onRemoveRecipeClick(recipe.index)">
            <mat-icon mat-list-icon>remove</mat-icon>
        </button>
        <span>{{getRecipeCount(recipe.index)}}</span>
        <button mat-flat-button (click)="onAddRecipeClick(recipe.index)">
            <mat-icon mat-list-icon>add</mat-icon>
        </button>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>Products</div>
    <mat-list-item *ngFor="let p of productsList">
        <div mat-line>{{p.product.name}}</div>
        <div *ngIf="p.amount > 0" mat-line>{{p.amount}}</div>
    </mat-list-item>
</mat-list>