<mat-list>
  <div mat-subheader>Meals</div>
  <mat-list-item *ngFor="let item of selectedRecipes">
    <mat-icon mat-list-icon>restaurant</mat-icon>
    <div>{{ item.recipe.title }}</div>
    <button mat-flat-button (click)="onRemoveRecipeClick(item.recipe.index)">
      <mat-icon mat-list-icon>remove</mat-icon>
    </button>
    <span>{{ item.count }}</span>
    <button mat-flat-button (click)="onAddRecipeClick(item.recipe.index)">
      <mat-icon mat-list-icon>add</mat-icon>
    </button>
  </mat-list-item>
  <mat-divider></mat-divider>
  <div mat-subheader>Products</div>
  <mat-list-item
    *ngFor="let p of productsList"
    class="product-list-item"
    [ngClass]="{ checked: p.checked }"
  >
    <div mat-line>{{ p.product.name }}</div>
    <mat-checkbox [ngModel]="p.checked" (change)="onProductChecked(p, $event)">
    </mat-checkbox>
    <div *ngIf="p.amount > 0" mat-line>{{ p.amount }}</div>
  </mat-list-item>
</mat-list>
