<mat-list>
    <div mat-subheader>Meals</div>
    <mat-list-item *ngFor="let recipe of selectedRecipies">
        <mat-icon mat-list-icon>restaurant</mat-icon>
        <div>{{recipe.title}}</div>
        <button mat-flat-button (click)="onAddRecipeClick(recipe.id)">
            <mat-icon mat-list-icon>add</mat-icon>
        </button>
        <span>{{recipiesAmounts[recipe.id]}}</span>
        <button mat-flat-button (click)="onRemoveRecipeClick(recipe.id)">
            <mat-icon mat-list-icon>remove</mat-icon>
        </button>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>Products</div>
    <mat-list-item *ngFor="let entry of productsList">
        <div mat-line>{{entry[0].name}}</div>
        <div *ngIf="entry[1] > 0" mat-line>{{entry[1]}}</div>
    </mat-list-item>
</mat-list>